/* ************************************* 
                Global
************************************* */
body { font-family: "Montserrat",Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;}
h1, h2, h3, h4, h5, h6 { font-family: "Montserrat",Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;}
p { font-family: "Montserrat",Helvetica Neue,Helvetica,Roboto,Arial,sans-serif; font-weight: initial;}
div { position: relative;}
.section-inner { padding: 2em; position: relative;}
a { position: relative; transition: 0.5s}
a.morelink:hover { color: #132d49; }
.vertical-middle{ display: table; width: 100%;}
.vertical-middle > *{ vertical-align: middle; width: 100%; display: table-cell; float: none; }
.text-center { text-align: center}
.text-uppercase { text-transform: uppercase}
.row { max-width: 75.5rem; }
.main-title { font-family: 'Roboto Slab'; font-weight: bold; font-size: 1.4rem; }
.header-banner-wrap:after { content: ''; background-color: rgba(0,0,0,0.3); position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.page-container .row { max-width: 75.5rem; }

/*==============================================
                    Preloader
================================================*/
.preloader { background: #fff; height: 100%; left: 0; position: fixed; right: 0; top: 0; z-index: 9999; text-align: center; }
.preloader h3 {top: 50%; position: absolute; text-align: center; left: 0; right: 0; margin-top: 60px; color: #242424; font-weight: 600; font-size: 26px; }
.preloader-bounce { width: 100px; height: auto; margin: 0 auto; position: absolute; left: 0; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.preloader-bounce { position: relative}
.pl-child {width: 100px; height: 100px; border-radius: 50%; background-color: rgba(43, 115, 150, 0.2); opacity: .9; position: absolute; top: 0; left: 0; -webkit-animation: pl-doubleBounce 2s infinite ease-in-out;animation: pl-doubleBounce 2s infinite ease-in-out}
.pl-double-bounce2 {-webkit-animation-delay: -1s; animation-delay: -1s}
.mbr-loading { z-index: 3; }

/* ************************************* 
                Banner 
************************************* */
.main--banner { height: 800px; margin-bottom: 0}
.main--banner .slick-track { width: 100%; height: 800px; }
.main--banner img { width: 100%; }
.banner--wrap { position: relative; height: 800px;}
.main--banner .slick-slide .banner--wrap:before { content: ""; position: absolute; width: 100%; height: 100%; z-index: 1; background-color: rgba(30, 28, 152, 0.3);}
.slick-prev, .slick-next {z-index: 3; border-radius: 50%; width: 35px; height: 35px; border: 2px solid #fff; transition: 0.5s;}
.records-wrap--home .slick-prev:hover, .records-wrap--home .slick-next:hover { background-color: #2e65a2;}
.slick-next { right: 25px; }
.slick-prev { left: 25px;}
.main--banner img { height: 800px; object-fit: cover; width: 100%; object-position: 50%; }
.main--banner.slick-dotted.slick-slider{ margin-bottom: 0}
/* ------------------------- Banner - Description ------------------------- */
.main--banner-desc-wrap { position: absolute; top: 65%; z-index: 1; margin: 0 auto; width: 400px; left: 35%; background-color: rgba(5, 7, 33, 0.5);  }
.main--banner-desc-wrap, .main--banner-desc-wrap h3, .main--banner-desc-wrap h4, .main--banner-desc-wrap h5 { color: #fff}
.main--banner-desc-wrap h5 { font-family: 'Satisfy', cursive; border: 1px solid #fff; padding: 0 0.5em; width: 45%; margin-bottom: 0;}
.main--banner-desc-wrap h3 { font-family: 'Roboto Slab', serif; font-size: 3em; }
.desc-wrap { width: 60%; margin: 0 auto; padding: 1em 0; }
.main--banner .slick-dots { top: 95%; bottom: 0;}
.slick-dots li.slick-active button:before { opacity: .75; color: #fff; }
.slick-dots li button:before { font-family: 'slick'; font-size: 15px; }
.slick-prev:before { content: '\f104'; font-family: "Font Awesome 5 Free"; font-weight: 900; }
.slick-next:before { content: '\f105'; font-family: "Font Awesome 5 Free"; font-weight: 900; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { border: 1.5px solid #fff; background-color: rgba(255,255,255,0.3);}
/* ************************************* 
                Navigation
************************************* */
.home-nav .top-bar { position: relative; width: 100%; background-color: transparent; }
.home-nav.sticky-container { position: fixed; width: 100%; }
.top-bar.row { max-width: 95.5rem;}
.top-bar, .top-bar ul { background-color: rgba(255,255,255,0); width: 100%; transition: 0.5s}
.logo--wrap { width: 12%; margin: 2em 1em; text-align: center;}
.logo--wrap img { width: 130px; }
ul.nav-right { width: auto; margin: 2em; margin-left: auto;}
.home-nav .nav-right li a { color: #fff; text-transform: uppercase; font-weight: 600; letter-spacing: 0.1em; font-size: 0.8em; width: 100%; transition: all 0.35s ease-in-out; }
.home-nav .nav-right li a:after { content: ""; position: absolute; left: 0; bottom: 0; width: 0; height: 2px; background-color: #ffc107; border-radius: 1px; transition: all 0.35s ease-in-out; opacity:1}
.home-nav .nav-right:hover li a { opacity: 0.5;}
.home-nav .nav-right:hover li a:hover { opacity: 1; color:#ffc107;}
.home-nav .nav-right a:hover { opacity: 1;}
.home-nav .nav-right:hover a:hover:after { width: 60%; margin: 0 auto; right: 0; }

/* Sticky Menu */
.sticky.is-stuck .top-bar { color: #000; }
.sticky.is-stuck .logo--sticky { width: 12%; margin: 0em 2em; opacity: 1; display: block}
.sticky.is-stuck ul.nav-right { margin: 1em; width: auto; margin-left: auto;}
.sticky.is-stuck .nav-right li a { color: #000; }
.logo--sticky {opacity :0; display: none};
.home-nav .sticky .logo--wrap img { opacity: 0}
.sticky.is-stuck.is-at-top { background-color: rgba(255,255,255,0.85); }
.logo--sticky img { width: 130px; }
.home-nav .sticky.is-stuck .logo--wrap { opacity: 0; display: none;}

/* General navigation */
#menu-main.top-bar { position: relative; background-color: rgba(255,255,255,1); color: #000;  width: 100%; }
#menu-main.sticky-container { position: relative; width: 100%; }
.main-nav.sticky-container { position: relative; width: 100%; }
.main-nav .sticky.is-anchored.is-at-top { position: relative; height: 100%; }
.sticky.is-at-top.is-stuck #menu-main { background-color: rgba(255,255,255,0);}
.main-nav .logo--wrap { width: 12%; margin: 0em 0em 0em 1em; display: block; }
.main-nav ul.nav-right { margin: 1em; width: auto; margin-left: auto;}

.main-nav .nav-right li a { color: #000; text-transform: uppercase; font-weight: 600; letter-spacing: 0.1em; font-size: 0.8em; width: 100%; transition: all 0.35s ease-in-out; }
.main-nav .nav-right li a:after { content: ""; position: absolute; left: 0; bottom: 0; width: 0; height: 2px; background-color: #ffc107; border-radius: 1px; transition: all 0.35s ease-in-out;}
.main-nav .nav-right:hover li a { opacity: 0.5;}
.main-nav .nav-right:hover li a:hover { opacity: 1; color:#ffc107;}
.main-nav .nav-right a:hover { opacity: 1;}
.main-nav .nav-right:hover a:hover:after { width: 60%; margin: 0 auto; right: 0; }
.main-nav .nav-right li.active a { background-color: transparent; opacity: 1; color: #ffc107; }
.main-nav .nav-right li.active a:after { opacity:1; content: ""; width: 60%; margin: 0 auto; right: 0; }
.top-bar ul.submenu.is-dropdown-submenu.first-sub.vertical.js-dropdown-active { list-style-type: none; margin-left: 0; }
.top-bar ul.submenu.is-dropdown-submenu.first-sub.vertical.js-dropdown-active li{ background-color: #27507d; border-bottom: 2px solid #fff; color: #fff; }
.top-bar ul.submenu.is-dropdown-submenu.first-sub.vertical.js-dropdown-active li a {color : #fff}
.main-nav .nav-right li.active .js-dropdown-active a:after { opacity: 0}
ul.submenu.is-dropdown-submenu.first-sub.vertical.js-dropdown-active { list-style-type: none; margin-left: 0 }
.top-bar .is-dropdown-submenu { border: 0; }
.dropdown .is-dropdown-submenu a { padding: .7rem 0rem .7rem 1rem; }
.top-bar ul.submenu.is-dropdown-submenu.first-sub.vertical.js-dropdown-active li:hover { background-color: #1d3958; }
.main-nav .nav-right:hover .js-dropdown-active a:hover:after { width: 0; }
.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after { content: '\f078'; font-family: 'Font Awesome 5 Free'; font-weight: 600; border: 0; right: 0; left: 85%; margin-top: -5%; font-size: 10px; margin-left: 0; }

/* Search Button */
.home-nav .nav-right .search .s-i { transition: width .6s ease; width: 0; background: transparent; color: #fff;}
.home-nav .search-exp .nav-right .search .s-i { border: 3px solid rgba(255,255,255,0.5); margin-left: 10px}
.nav-right .box form { height: 30px;}
.nav-right .search { display: block; background: inherit; overflow: hidden; height: 30px; border-radius: 5px; padding-left: 5px; }
.nav-right .search .s-b, .nav-right .search .s-i { height: 30px; border: 0; margin: 0; padding: 0; background: transparent; outline: none; }
.sticky.is-stuck #menu-home .nav-right .search .s-b, .nav-right .search .s-b { color: #C1C1C1; font-size: 18px; }
.nav-right .search .s-i { transition: width .6s ease; width: 0; background: #eee; color: #666; }
.home-nav .nav-right .search .s-i.nav-right .search .s-b { color: #000; padding: 0 8px;}
.search-exp .nav-right .search .s-i { margin: 0 0 0 -5px; padding: 1px 8px 0 6px; width: 170px;}
#menu-home .search i.fa.fa-search { color: #fff;}
.sticky.is-stuck #menu-home .nav-right .search .s-i { background: #eee; color: #666; border: 2px solid #eee; margin-left: 10px;}
.sticky.is-stuck #menu-home .search i.fa.fa-search { color: #cecece;}
#menu-home button.search-btn.button { border: 3px solid #fff; color: #fff;}

/* ************************************* 
                HOME - PAGE
************************************* */
.page-container { margin: 3em 0 0 0; }
.page--about .page-container { margin-top: 0}
.header-banner.page--category-header-banner:after { content: ''; position: absolute; background-color: rgba(0,0,0,0.3); top: 0; width: 100%; height: 100%; }
.header-banner-title--container { height: 250px; position: absolute; top: 0; width: 100%; }

/* -------------------------------- HOME - ABOUT ---------------------------------- */
.page--about .header-banner-image { height: 350px; width: 100%; background-size: cover; background-position: 100%; }
.page--about .header-banner-image:after { content: ''; background-color: rgba(255, 225, 203, 0.2); width: 100%; height: 100%; position: absolute; top: 0; z-index: 0; }
.page--about .header-banner { z-index: 1; box-shadow: 1px 1px 24px 1px rgba(0,0,0,0.5); }
/* ------------------------- Records --- HOME ------------------------- */
.section-title h1, .section-title h2, .section-title  h3, .section-title h4, .section-title h5{ font-family: 'Roboto Slab' }
.record-container .row, .event-wrapper .row { max-width: 75rem; }
.records-wrap--home .slick-next { right: -35px; background-color: #27507d; border-radius: 0; width: 35px; height: 55px; border: 0;}
.records-wrap--home .slick-prev { left: -35px; z-index: 1; background-color: #27507d; border-radius: 0; width: 35px; height: 55px; border: 0; }
.figure-record--image { height: 250px; object-fit: cover; object-position: 50%; overflow: hidden;}
.figure-record--image img { object-fit: cover; height: 100%; width: 100%; }
.container.record-container { margin-bottom: 3em; }
.records-wrap--home .slick-next:before, .records-wrap--home .slick-prev:before { color:#fff; opacity: 1;}
.section-title { float: left; }
.section-title i { margin-right: 10px; }
.see-more-wrap { float: right; overflow: hidden}
.see-more-wrap a { color: #2c507d; padding: 0.2em 1.4em; z-index: 2; transition: 0.5s ease-in-out; position: relative; text-transform: uppercase; font-weight: 600; font-size: 0.9em;}
.see-more-btn { width: 100%; margin-right: 10px; border: 2px solid #2c507d;}
.section-title h4 { font-weight: 600; color: #2c507d; }
.see-more-btn i { margin-left: 5px; font-size: 14px;}

.figure-record--caption h5 { font-family: 'Roboto Slab'; color: #184071; font-weight: 600;}
.figure-record--caption p { font-size: 14px; text-align: justify; }
.card-wrap { box-shadow: -2px 1px 18px 1px rgba(0,0,0,0.2); margin-bottom: 20px; transition: 0.3s}
.card-wrap:hover { box-shadow: 0px 0px 26px 0px rgba(47, 77, 132, 0.5); cursor: pointer; transform: scale(1.03);}
.figure-record--caption { padding: 1em 2em; height: 200px;}

.read-more .trigger { display: block; position: absolute; bottom: 0; cursor: pointer; color: #2980b9; font-weight: bold; }
.read-more .content { position: relative; overflow: hidden; /*max-height: 200px; height: 200px; */transition: max-height 500ms ease; }
.read-more.expanded .content { max-height: 600px; height: 100%; }
.read-more.expanded .content::before,
.read-more.expanded .trigger { opacity: 0; visibility: hidden; }
.figure-record--caption.read-more.expanded { height: 100%; }
a.morelink { color: #27507d; font-weight: 700; }
.record-container .slick-list { overflow-y: visible; }

.see-more-wrap:before { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: #27507d; -webkit-transform: translateX(-100%); transform: translateX(-100%); box-sizing: border-box; transition: 0.5s ease-in-out; z-index: -1; }
.see-more-wrap a:hover { color: #e2e9e5;}
.see-more-wrap:hover:before { -webkit-transform: translateX(0); transform: translateX(0);  }
.morecontent span { display: none;}
.morelink { display: block;}
.record-gallery.gallery a:hover:after { content: ''; background-color: rgba(0,0,0,0.5); position: absolute; width: 100%; height: 100%; top: 0;}
.record-gallery.gallery a:hover:before { content: '\f00e'; font-family: "Font Awesome 5 Free"; font-weight: 900; position: absolute; font-size: 3rem; left: 45%; top: 45%; color: #fff; z-index: 2;}
.record-gallery.gallery a, .happening-gallery.gallery a, .event-gallery.gallery a{ width: 100%; position: relative; display: block;}
.record-gallery.gallery a{ height: 250px;}
.happening-gallery.gallery a:hover:after { content: ''; background-color: rgba(0,0,0,0.5); position: absolute; width: 100%; height: 100%; top: 0;}
.happening-gallery.gallery a:hover:before { content: '\f00e'; font-family: "Font Awesome 5 Free"; font-weight: 900; position: absolute; font-size: 3rem; left: 45%; top: 45%; color: #fff; z-index: 2; }
.event-gallery.gallery a:hover:after { content: ''; background-color: rgba(0,0,0,0.5); position: absolute; width: 100%; height: 100%; top: 0;}
.event-gallery.gallery a:before { opacity: 0; transition: 0.5s}
.event-gallery.gallery a:hover:before { content: '\f00e'; font-family: "Font Awesome 5 Free"; font-weight: 900; position: absolute; font-size: 2rem; left: 45%; top: 45%; color: #fff; z-index: 2; opacity: 1}
.category-tag { position: absolute; display: inline; background-color: rebeccapurple; width: auto; left: 0; text-align: left; color: #fff; bottom: 0; padding: 0.3em 3.5em; border-top-right-radius: 10px; }
.records-wrap--home .slick-slide:nth-child(2) .category-tag { background-color: #dabf5f;}
.records-wrap--home .slick-slide:nth-child(3) .category-tag { background-color: #e05454;}
.records-wrap--home .slick-slide:nth-child(4) .category-tag{ background-color: #dabf5f;}
.category-tag h5 { margin-bottom: 0; font-weight: 300; font-family: 'Satisfy'; font-size: 1rem; }

/* ------------------------- Home --- How to be record holder ------------------------- */
.hw-to-be-rcd-holder-wrapper .row {   max-width: 100%; overflow: hidden;}
.whats-happening-wrapper .row {   max-width: 100%; }
.how-record-holder-wrap img { width: 100%; }
.hw-rcd-bg { width: 100%; height: 550px; background-size: 100%; }
.hw-rcd-holder-card { position: absolute; top: 20%; color: #fff; width: 100%; left: 5%; }
.hw-rcd-card-content { background-color: rgba(146, 146, 146, 1); box-shadow: 1px 1px 11px 1px rgba(0,0,0,0.5); background: #fefefe; background: -moz-linear-gradient(top, #fefefe 0%, #cac9c9 100%); background: -webkit-linear-gradient(top, #fefefe 0%,#cac9c9 100%); background: linear-gradient(to bottom, #fefefe 0%,#cac9c9 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#cac9c9',GradientType=0 ); padding: 3em;}
.hw-rcd-card-content h3, .hw-rcd-card-content h4 { color: #184071; text-transform: uppercase; font-weight: 500; }
.hw-rcd-card-content h3 { font-family: 'Roboto Slab'; font-weight: 600;}
.hw-rcd-card-content h4 { color: #4b4b4b; font-weight: 600; margin-top: 1em; }
.hw-rcd-card-content a, .how-to-info-link { color: #7f7e7e; font-weight: bold; text-transform: uppercase; }
.how-to-info-link { margin-top: 1em; }
.more-info-btn {margin-top: 1.5em;}
.more-info-btn a { color: #184071; border: 2px solid #184071; padding: 0.5em; transition: .5s ease-in-out;}
.more-info-btn a:hover { box-shadow: inset 0 -90px 0 -30px #184071; color: #fff; }
.how-to-info-link a{ transition: 0.3s}
.how-to-info-link a:hover {color: #4f4c4c}

/* ------------------------------ Home --- What's Happening ------------------------------------- */
.whats-happening-wrapper { background-color: #184071; padding: 2em; }
.whats-happening-bg { background-image: url('../images/inspiration-geometry.png'); width: 100%; height: 100%; position: absolute; z-index: 0; opacity: 0.4; left: 0; top: 0; }
.happening-slider .slick-prev { left: -30px; }
.happening-slider .slick-next { right: -25px; }
.whats-happening-title h2 { font-family: 'Roboto Slab'; text-transform: uppercase; color: #fff; font-weight: 600; }
.whats-happening-title hr { height: 30px; border-bottom: 3px solid #fff; width: 80%; text-align: left; margin: 0;}
.more-happening { color: #fff; font-weight: bold;  width: 150px; text-align: left; margin-top: 3em; overflow: hidden; border: 2px solid #fff; border-radius: 10px;}
.more-happening a { color: #fff; width: 100%; margin-left: 10px;}
.happening-feature-caption { color: #fff; margin-top: 1.0em;}
.happening-feature-caption h6 { text-transform: uppercase; font-weight: 600; font-family: 'Roboto Slab'; margin-top: 1em; }
.tags::before { content: '\f02c'; font-family: "Font Awesome 5 Free"; font-weight: 900; font-size: 8px; position: relative; left: 0; margin-right: 6px; float: left; margin-top: 7px; }
.tags { border: 2px solid #fff; padding: 0 0.3em; }
.tags span { font-size: 14px; font-weight: 500; font-family: 'Satisfy';}
.happening-feature-caption p { font-size: 14px; }
.happening-feature-caption .trigger { color: #fff;}
.record-container .slick-list { overflow-y: hidden; }
.more-happening:before { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: #1c3045; -webkit-transform: translateX(-100%); transform: translateX(-100%); box-sizing: border-box; transition: 0.5s ease-in-out; z-index: 0; }
.more-happening a:hover { color: #e2e9e5; }
.more-happening:hover:before { -webkit-transform: translateX(0); transform: translateX(0); }
.more-happening:hover {border: 2px solid #1c3045}
.whats-happening-wrap .tags { border: 2px solid #eefaff; display: inline-block; padding: 0 0.5em; color:#eefaff; opacity: 0.8;}
.whats-happening-wrap .slick-prev:hover, .slick-prev:focus, .whats-happening-wrap  .slick-next:hover, .slick-next:focus { border: 1.5px solid #fff; background-color: rgba(12, 6, 6, 0.3); }
.whats-happening-wrap .slick-prev.slick-disabled:before, .whats-happening-wrap .slick-next.slick-disabled:before { opacity :1;}
.whats-happening-wrapper a.morelink { color: #00BCD4; }
.whats-happening-wrapper a.morelink:hover { color: #098595; }
.happening-feature-img { height: 200px; }
.happening-img-wrapper.vertical-middle { background-color: rgba(0,0,0,0.5); max-height: 200px; height: 200px;}
.gallery-hidden { display: none}
.happening-gallery a { height: 200px; }
.happening-gallery a img { height: 100%; width: 100%; object-fit: cover;}

/* --------------------------------- Home --- Events -------------------------------------*/
.event-feature-caption { color: #000; margin-top: 1.0em; min-height: 200px;}
.event-feature-caption h6 { text-transform: uppercase; font-weight: 600; font-family: 'Roboto Slab'; margin-top: 1em; }
.tags::before { content: '\f02c'; font-family: "Font Awesome 5 Free"; font-weight: 900; font-size: 8px; position: relative; left: 0; margin-right: 6px; float: left; margin-top: 7px; }
.event-home .tags { border: 2px solid #676767; padding: 0 0.3rem; display: inline-block; color: #676767}
.tags span { font-size: 12px; font-weight: 500; font-family: 'Satisfy';}
.event-feature-caption p { font-size: 14px; }
.event-feature-caption .trigger { color: #000;}
.event-wrap .large-3.columns { margin-bottom: 1em;}
.event-bottom-bg { background-image: url('../images/event-bottom-bg.png'); width: 100%; content: ''; position: absolute; height: 300px; bottom: 0; left: 0; z-index: -1; background-size: cover; opacity: 1; }
.event-feature-img { height: 200px; overflow: hidden;}
.event-feature-img a { height: 200px; }


/* Modal */
.reveal.recordsmodal { padding: 0; margin-bottom: 20px;}
.record-title h3 { font-family: 'Roboto Slab'; font-weight: 600; color: #184071;}
.record-modal-content { margin: 3%; }
.recordsmodal button.close-button { z-index: 2; }
.record-desc p { text-align: justify; }
.reveal.recordsmodal .close-button { position: absolute; color: #fff; cursor: pointer;}
.event-gallery.gallery a { height: 200px; }
.event-gallery a img { height: 100%; width: 100%; }
.record-modal-image-wrap { height: 400px; }
.record-modal-image-wrap img { height: 100%; width: 100%; object-fit: cover; }

/* ************************************* 
               FOOTER
************************************* */
footer { position: relative; }
.social-links { text-align: center; color: #fff; }
.social-links-connect ul { display: inline-block; list-style-type: none; margin: 0; margin-bottom: 1em;}
.social-links-connect ul li { float: left; margin-right: 10px; }
.social-links-connect ul li a { color: #000}
.social-links-bg { content: ''; background-image: url('../images/footer-bg.png'); width: 100%; height: 100%; position: absolute; background-color: #1f426d; z-index: -1;}
.social-links ul li a i { color: #fff; }
footer .footer-content p { color: #fff; margin-bottom: 0; font-size: 0.8rem;}
.footer-content { text-align: center; padding: 2em; }
.social-links ul li a:hover i { color: #428ec7; }


/* Record Detail */
.record-detail-wrap { padding-top: 2em; }
.record-detail-outer .row { max-width: 70rem; }
.record-detail-outer { background-color: #fff; }
.detail-title-wrap { margin: 0em 0em 3em 0em; color: #000; }
.record-detail-outer h1, .record-detail-outer h2, .record-detail-outer h3, .record-detail-outer h4, .record-detail-outer h5{ font-family: 'Roboto Slab'; color: #184071}
.rcd-detail-banner .slick-prev, .rcd-detail-banner .slick-next { opacity: 0.3; }

.title-tag ul:before { content: '\f02b'; font-family: 'Font Awesome 5 Free'; font-weight: 900; margin-right: 5px; position: relative; left: 0; font-size: 10px; color: #3c3c3c;}
.title-tag a { font-size: 0.8rem; color: #3c3c3c; font-weight: 600;}
.title-tag a:hover { color: #194070; }

.record-listing ol { margin: 0; }
.detail-title h3 { font-weight: 800; }
.detail-category-tag { color: #000; }
.detail-category-tag h6 { margin-bottom: 0; }
.detail-category-tag h6:before { content: '\f02c'; font-family: "Font Awesome 5 Free"; font-weight: 900; font-size: 8px; position: relative; left: 0; margin-right: 6px; }
.detail-outer { margin-bottom: 1em; }
.detail-title-wrap hr { clear: both; border-bottom: 1px solid #dad8d8; width: 100%; max-width: 100%;}
.record-detail-content { color: #000; padding: 1em 0em;}
.rcd-detail-banner-inner { height: 300px; }
.rcd-detail-banner-inner img { width: 100%; object-fit: cover; height: 100%; }
.rcd-detail-banner-inner::after { content: ''; position: absolute; width: 100%; height: 100%; background-image: url(../images/light-mesh.png); background-color: rgba(18, 28, 41, 0.4);; display: block; top: 0;}
.record-detail-gallery img { width: 100%; }
.rcd-detail-banner.slick-dotted.slick-slider { margin-bottom: 0; }
.record-detail-gallery--main a { width: 150px; height: 150px; max-width: 100%; display: inline-block;}
.record-detail-gallery--main a img { width: 100%; max-width: 100%; height: 100%; object-fit: cover;}
.title-tag ul { display: inline-block; list-style-type: none; margin: 0;}
.title-tag ul li { width: auto; float: left; margin-right: 5px;}
.record-list-wrap h5 { color: #184071; font-weight: 800; font-size: 1rem; margin-bottom: 0;}
.rcd-detail-banner ul.slick-dots { top: 80%; }

/* Breadcrumb */
.detail-category .breadcrumbs a:hover { font-weight: bold; text-decoration: none; }
.detail-category .breadcrumbs li.active { font-weight: bold; }

/* Record Listing */
.record-listing ol li a { width: 90%; display: inline-block;}
.record-listing-info h5 { font-size: 0.8rem; color: #292929; font-weight: 600; margin-bottom: 0;}
.record-listing-image { position: relative; overflow: hidden; width: 40%; float: left; }
.record-listing-info { width: 55%; float: left; margin-left: 10px;}
.record-listing ol li:after { float: none; clear:both}
.record-listing ol li { margin-bottom: 10px; display: inline-block; }
.post-info { margin-right: 10px; font-weight: 700;}
.custom-counter li::before { content: counter(step-counter); margin-right: 1px; font-size: 65%; background-color: #184071; color: white; font-weight: bold; padding: 3px 5px; position: relative; width: 15px; float: left; z-index: 1;}
.custom-counter li { counter-increment: step-counter;}
.post-info { font-size: 12px; color: #184071; }
.record-list-wrap hr { clear: both; max-width: 100%; height: 0; margin: 1rem 0; border-top: 0; border-right: 0; border-bottom: 1px solid #cacaca; border-left: 0; margin-top: 0;}
.record-listing-image img { height: 100%; width: 100%; transform: scale(1); transition: transform; transition-duration: 1s;}
.record-listing li:hover a .record-listing-image img{ transform: scale(1.1); transition: transform; transition-duration: 1s; }
.record-listing li:hover .record-listing-info h5 { font-weight: 800; color: #184071; }

/* Breadcrum */
.detail-category { background-color: #2c507d; }
.detail-category ul.breadcrumbs {  color: #fff; padding: 1em 1em; margin-bottom: 0;}
.detail-category .breadcrumbs li { color: #fff; }
.detail-category .breadcrumbs a { color: #fff; }

/* How to be record-holder */
.how-to-be-record-holder { background-color: #efefef; background-image: url('../images/shattered.png'); padding: 3em 5em;}
.hw-to-rcd-holder-know-more-btn a { background-color: #184071; padding: 0.5em 1em; color: #fff; font-weight: bold; }
.hw-to-rcd-holder-know-more-btn { margin-top: 2em; }
.hw-to-rcd-holder-know-more-btn a:hover { background-color: transparent; border: 3px solid #184071; color: #184071; }


/* ************************************* 
                Record page
************************************* */
.header-banner-wrap .row { max-width: 100%; }
.header-banner-image { height: 350px; width: 100%; background-size: cover; background-position: 50% 50%; }
.header-banner-title--container { height: 300px; position: absolute; }
.header-banner-title--wrap { position: absolute; top: auto; bottom: 0; left: 5%; z-index: 1;background-color: rgba(24, 64, 113, 0.4); color: #fff; border-left: 6px solid #184071; padding: 1em;  width: 60%; }

.page--title { text-transform: uppercase; font-weight: 700; }
.page--subtitle p { font-weight: 600; }

.records-category { display: block; box-shadow: 1px 4px 21px 1px rgba(0,0,0,0.5); border-radius: 15px; transition: 0.5s}
.records-desc-wrap { background-image: url(../images/worn-dots.png); background-color: rgba(24, 64, 113, 1); color: #fff; padding: 0.5em 1em; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.records-desc-wrap h1, .records-desc-wrap h2, .records-desc-wrap h3, .records-desc-wrap h4, .records-desc-wrap h5 { margin-bottom: 0 }
.records-desc-wrap > * { font-size: 18px; }
.records-desc-wrap:after { content: '\f35a'; font-family: 'Font Awesome 5 Free'; font-weight: 300; position: absolute; right: 5%; transform: translateY(40%); top: 0; bottom: auto; left: auto; }

.records-image-wrap img { border-top-left-radius: 10px; border-top-right-radius: 10px; }
.records-category-wrapper { margin-bottom: 2em; padding: 0em 0.5em;}

.records-category:hover { box-shadow: 1px 4px 34px 1px rgba(0,0,0,0.6); transform: scale(1.02); }

.records-image-wrap { height: 200px; }
.records-image-wrap img { height: 100%; width: 100%; object-fit: cover;}

.about--project-content p, .about--how-it-started-content p { text-align: justify; padding-top: 1em;}
.about--vision p { column-width: 3; columns: 3; -webkit-columns: 3; -moz-columns: 3; text-align: justify; }

/* ************************************* 
            About page
************************************* */
.about--content-wrap { margin: 2em; }
.about--content-wrap h3 { margin-bottom: 0; text-transform: uppercase; font-weight: bold; color: #184071; }
.about-corporate-profile-wrap, .about-vision-inspiration-wrap { border: 4px solid #184071; }
.about-corporate, .about-vision-inspiration { text-align: center; height: 300px;}
.row.mbr-info { margin-top: 2em; padding: 0 2em;}
.mbr-award-outer.row { padding: 0 2em; margin: 2em auto; }
.brief-background-container { background-image: url(../images/squared-metal.png); height: 100%;}
.about--background-wrap { width: 100%; margin: 0 auto; padding: 4em;}
.about--background-content { text-align: center; margin: 0 auto;}
.about--background-title h4 { margin-bottom: 0; text-align: center; color: #616161; font-weight: bold;}
.brief-background-container .columns { padding: 0; }
.about--background-title { margin: 0 auto; text-align: center; text-transform: uppercase;}
.about--background-title hr { max-width: 40%; margin: 0.5rem auto; border: 1px dotted #616161}
.about--project-wrap { color: #000; padding: 0 1em; }
.about--project-title h4, .about--how-it-started-title h4, .about--award-night-title h3 { font-weight: bold; text-align: left; color: #184071; font-weight: 600;}
.about--project-title hr, .about--how-it-started-title hr, .about--award-night-title hr { max-width: 100%; border-bottom: 2px dotted #184071; }
.about--how-it-started-content { text-align: center;  }
.mbr-award-container { margin: 4em 0; }
.title-right h3{ text-align: right}
.about--award-night-title h3:before { content: '|'; margin-right: 10px; position: absolute; left: -15px}
.about--how-it-started-wrap { margin-bottom: 4em; padding: 0 1em;}
.about--project-title,.about--how-it-started-title  { min-height: 100px;  border-bottom: 2px dotted #184071;}
.about--project-title.vertical-middle>*, .about--how-it-started-title.vertical-middle>* { vertical-align: middle; }

/* ************************************* 
        Vision and Inspiration 
************************************* */
.vision-inspiration-page-container { box-shadow: inset -2px -4px 22px 1px rgba(103, 103, 103, 0.2); background-color: #f9f9f9ee; background-image: url(../images/squared-metal.png)}
.row.mbr-mission-vision { margin: 2em auto 0 auto; padding: 2em;}
.about--vision blockquote:before { content: '\f10d'; font-family: 'Font Awesome 5 Free'; font-weight: 600; font-size: 2em; margin-right: 10px;}
.about--vision blockquote:after { content: '\f10e'; font-family: 'Font Awesome 5 Free'; font-weight: 600; font-size: 2em; margin-right: 10px;}
.about--mbr-vision-title, .about--mbr-mission-title { background-color: #184071; color: #fff; font-weight: bold; padding: 0.2em 2em; text-transform: capitalize; }
.about--mbr-vision-content, .about--mbr-mission-content { border: 3px solid #184071; padding: 1em; border-top: 0;}
.about--mbr-vision-content ul {list-style-type: none}
.about--mbr-vision-content ul li:before { content: '\f058'; font-family: 'Font Awesome 5 Free'; position: absolute; left: 14px; right: 0; color: #2d902d; font-size: 18px;}
.about--mbr-vision-title h3, .about--mbr-mission-title h3 { margin-bottom: 0; text-align: center;}
.vision-inspiration-section { padding: 4em 2em; }
.about--vision blockquote { text-align: center; }

/* ************************************* 
    How To Be A Record Holder -- Page
************************************* */
.how-info-tabs i { margin-right: 0; position: absolute; left: 10%;; }
.how-info-tabs a { color: #000; font-weight: 600; letter-spacing: 0.1rem; font-size: 0.8rem; line-height: 1.4em; padding: 1.25rem 3rem;}
.how-info-tabs .tabs-title>a:focus, .tabs-title>a[aria-selected=true] { background: #e6e6e6; color: #194070; }
.how-info-tabs .tabs-title>a:hover { color: #dabf5f; }
.how-info-content { min-height: 500px; }
.how-info-container { margin: 2em auto;}
.tabs-content { border:0}

/* ************************************* 
        Category page
************************************* */
.category-container { margin-bottom: 2em; }
.grid-sizer,.grid-item { width: 32%; }
.grid-item--width2 { width: 40%; } 
.category-breadcrumb { margin: 1em 0; }
.category-breadcrumb nav a { color: #655947; font-weight: bold;}
.category-breadcrumb nav a:hover { font-weight: bolder; text-decoration: none; font-size: 0.7rem; }

.category-breadcrumb nav .breadcrumbs li:not(:last-child)::after { position: relative; margin: 0 .75rem; opacity: 1; content: "/"; color: #655947; }
.category-record-title { position: relative; bottom: 0; background-color: red; padding: 0.8em 0.8em; color: #fff; font-weight: bold; font-size: 0.8rem; text-align: center}
.category-record-more-btn { position: absolute; top: 0; right: 0; background-color: #154171; padding: 0.2em 1em; color: #fff; box-shadow: -1px 2px 6px 1px rgba(0,0,0,0.4);}
.category-record-more-btn a { color: #fff; font-weight: bold; }
.category-record--item:hover { transform: scale(1.05); z-index: 3; }
.category-record--item { transition: 0.5s; margin-bottom: 0.5em;}
.category-item:after { background-color: rgba(0,0,0,0.5); position: absolute; width: 100%; height: 100%; top: 0; }
.category-record-image:after { content: ''; background-color: rgba(0,0,0,0.5); position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0;}

.category-record-image:hover:after{ opacity: 1; }
.category-record-image:before { content: '\f066'; font-family: 'Font Awesome 5 Free'; position: absolute; top: 45%; font-weight: 600; left: 45%; color: #fff; font-size: 2em; opacity: 0; z-index: 2; }
.category-record-image:hover:before { opacity: 1}
.page--record-category .container .row { max-width: 90%;}
.categories-side-bar-inner { background-color: #d7d7d7; padding: 1em; }
.categories-side-bar-inner a { padding-left: 0; color: #000; }
.side-bar-title { font-weight: bold; color: #184071; }
.categories-side-bar-inner a { font-family: 'Roboto Slab'; text-transform: uppercase; font-size: 0.8rem;}
.categories-side-bar-inner .menu .active>a { background: transparent; color: #184071;  font-weight: bold}
.categories-side-bar-inner a:before { content: ""; border-left: 3px solid #184071; margin-right: 10px; opacity: 0; }
.categories-side-bar-inner li.active a:before, .categories-side-bar-inner a:hover:before { opacity: 1}
.columns.record-categories-side-bar { padding: 0; }
.category-breadcrumb .breadcrumbs { margin-bottom: 0; }

.categories-side-bar-inner a:hover { color: #154171 }
.brick {display: none;}
.show { display: inherit;}
.load-more { text-align: center; margin-bottom: 1em; margin-top: 1em;}
.load-more a { border: 3px solid #184071; color: #184071; padding: 0.5em; border-radius: 15px; font-weight: bold;}
.load-more a:hover { background-color: #184071; color: #fff}
.load-less { display: none}

/* Back To Top Button */
.back-to-top { width: 60px; height: 60px; position: fixed; bottom: 0; right: 0; display: table; text-align: center; padding: 0.2em; margin: 1em; background: rgba(232, 232, 232, 0.6); z-index: 3; font-size: 0.7rem; font-weight: 600; transition: 0.5s; border-radius: 50%; padding: 0.3em}
.back-to-top:hover { cursor: pointer; animation: jiggle 2s ease-in infinite; background-color: #184071; color: #fff}
.back-to-top i { display: block; }

/* Animation */

@-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

@-webkit-keyframes pl-doubleBounce {
0%, 
100% {
-webkit-transform: scale(0);
transform: scale(0)
}
50% {
-webkit-transform: scale(1);
transform: scale(1)
}
}
@keyframes pl-doubleBounce {
0%, 
100% {
-webkit-transform: scale(0);
transform: scale(0)
}
50% {
-webkit-transform: scale(1);
transform: scale(1)
}
}

@keyframes jiggle {
    48%, 62% {
      transform: scale(1.0, 1.0)
    }
    50% {
      transform: scale(1.1, 0.9)
    }
    56% {
      transform: scale(0.9, 1.1) translate(0, -5px)
    }
    59% {
      transform: scale(1.0, 1.0) translate(0, -3px)
    }
  }


/* Media Query */
@media print, screen and (min-width: 40em){
    .reveal { width: 800px; max-width: 62.5rem; }
    .about--background-wrap { width: 100%; margin: 0 auto; }
}


@media screen and (min-width: 1500px){
    .record-container .row { max-width: 92rem; }
    .hw-rcd-bg { width: 100%; height: 600px; background-position: 100% 20%; }
    .page-container .row { max-width: 80%; }
}

@media screen and (max-width: 1028px){
    .event-wrap .large-3.columns { height: 500px; }
    
    /* Navigation */
    .main-nav .logo--wrap { margin: 0em 1em 0 1em; }
    .dropdown.menu a { padding: .4rem 0.5rem; }
    .title-bar-title { text-align: center; width: 100%;}
    .title-bar-title img { width: 30%;}

    #search button, #search input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border: 0;
        color: inherit;
        font: inherit;
        outline: 0;
        max-width: 80px;
        /* margin-top: 0; */
    }
    /* Record Detail */
    .detail-category ul.breadcrumbs { padding: 1em 1em; }
    .record-detail-gallery--main { text-align: center; }
    .detail-title-wrap { text-align: center; }
    
    /* About */
    .header-banner-title--wrap { background-color: rgba(24, 64, 113, 0.4); color: #fff; border-left: 6px solid #184071; padding: 1em; left: 0; width: 80%; }


}


@media screen and (max-width: 900px){
    .hw-rcd-holder-card { left: 0; }
    .title-bar-title img { width: 20%; }
    
    /* Event  */
    .event-gallery.gallery a { height: 120px; }
    .event-feature-img { height: 120px; overflow: hidden; }
    .event-wrap .large-3.columns { height: 400px; }

    /* Navigation */
    .main-nav .nav-right li a:before { content: '\f0da'; font-family: 'Font Awesome 5 Free'; margin-right: 10px; color: #000; font-weight: 900; }
    #search { margin-top: 1em;}

    .categories-side-bar-inner { text-align: center; }
    
}

@media screen and (max-width: 780px){
    .home-nav.sticky-container { position: relative; width: 100%; }
    .main-nav .logo--wrap { display: none; }
    .sticky-container { position: relative; }
    .records-wrap--home .slick-next { right: 5px; width: 25px; height: 45px; }
    .records-wrap--home .slick-prev { left: 5px; width: 25px; height: 45px; }
    .home-nav .top-bar, .home-nav .top-bar ul { background-color: rgba(255,255,255,1);}
    .logo--wrap { display: none; }
    .home-nav .nav-right li a { color: #000;  }

    .main-nav .nav-right li.active a:after { opacity: 0;}
    .main-nav .nav-right:hover a:hover:after{ opacity: 0 }

    .header-banner-title--container { height: 100%; }
    .header-banner-title--wrap {
        left: 0;
        bottom: auto;
        top: 0;
    }    
    .brief-background-container { padding: 0; }
    .row.mbr-info { padding: 0 1em; }
    .header-banner-title--wrap { width: 100%; }

    
    /******************** About **************************8*/
    .about--background-title { width: 100%; }
    .about--background-content { width: 100%; }
    .row.vision-inspiration-section { padding: 2em; }
    .about--vision p { column-width: 1; columns: 1; -webkit-columns: 1; -moz-columns: 3; text-align: justify; }
    .about--background-wrap { padding: 3em 2em 0em 2em;}
    .mbr-mission-vision .large-6.columns { margin-bottom: 2em; }
    .about--project-title h4, .about--how-it-started-title h4, .about--award-night-title h3 { text-align: center; }
    .about--vision blockquote { text-align: center; font-size: 14px;}
    .about--vision blockquote:before { font-size: 1em; }
    .about--vision blockquote:after { font-size: 1rem; }
    .about--project-wrap { padding: 0 1em; }
    .about--how-it-started-wrap { padding: 0 1em; }
    .row.mbr-award-outer { padding: 0 1em; }

    /* ================== Category Page ================== */
    .grid-sizer, .grid-item { width: 48%; }
    .category-record-title { font-size: 0.8rem; }
}

@media screen and (min-width: 800px) and (max-width: 1028px) and (orientation: landscape){ 
    /* Category page */
    .columns.record-categories-side-bar { padding: 0 .9375rem; padding-left: 0; }
}



@media screen and (max-width: 730px) and (orientation: landscape){ 
        /* Category page */
        .columns.record-categories-side-bar { padding: 0 .9375rem; padding-left: 0; }
}





@media screen and (max-width: 640px){
    .banner--wrap { height: 100%; }
    .main--banner-desc-wrap { width: 200px; height: auto; left: 15%; top: 20%; }
    .desc-wrap { width: 100%; margin: 0 auto; padding: 1em; }
    .main--banner-desc-wrap h3 { font-size: 1em; }
    .main--banner-desc-wrap h5 { width: 60%; }
    .desc-wrap p { font-size: 12px; }
    .main--banner { height: 100%; }
    .main--banner .slick-track { height: 100%; }
    .slick-prev { width: 25px; height: 25px; }
    .slick-next { width: 25px; height: 25px; }
    .slick-dots li button:before { font-family: 'slick'; font-size: 10px; }
    .main--banner .slick-dots { top: 80%; }
    .main--banner img { height: 100%; }
    
    /* General */
    .section-inner { padding: 0em;}
    .record-container .row, .event-wrapper .row { max-width: initial; }
    .read-more .content { text-align: center; }
    
    /* Navigation */
    
    
    .home-nav .nav-right li { transition: 0.5s }
    ul.nav-right { width: 100%; margin: 0.5em; }
    .home-nav .nav-right li a:before { margin-right: 10px; content: '\f0da'; font-family: 'Font Awesome 5 Free'; }
    .nav-right li { opacity: 1; }
    .top-bar.expanded .nav-right li{ opacity: 1;}
    .title-bar-title { width: 100%; margin: 0 auto; }
    .title-bar-title img { width: 30%; }
    
    /* Records */
    .new-rcd-title-outer, .event-title-outer { margin: 0.5em 0; }
    .see-more-wrap a { font-size: 0.5em; }
    .see-more-btn i { margin-left: 5px; font-size: 0.6rem; }
    .see-more-btn { margin-right: 0; }
    
    /* How-to-be */
    .hw-rcd-bg { background-size: cover; background-repeat: no-repeat; }
    .hw-rcd-card-content { padding: 1.5em; }
    .hw-rcd-holder-card { left: 0; }
    .hw-rcd-bg { height: 450px; }
    
    /* Whats Happening */
    .whats-happening-wrapper { padding: 1em; }
    .whats-happening-title { display: inline-block; width: 100%;}
    .whats-happening-title hr { height: 10px; width: 60%;}
    .whatshappeningheading{ float: left; width: 50%; }
    .more-happening { width: 30%; float: right; margin-top: 1em;}
    .more-happening a { font-size: 0.8rem; } 
    .whats-happening-title h2 { margin-bottom: 0; }
    .happening-slider .slick-prev { left: -12px; }
    .happening-slider .slick-next { right: -15px; }
    
    
}

@media screen and (max-width: 600px) and (orientation: landscape){
    /* Banner */
    .main--banner-desc-wrap { width: 250px; }
    
    /*  Navigation  */
    .title-bar-title { width: 100%; }
    .title-bar-title img { width: 18%; }
    
    
    /* New Record */
    .figure-record--caption { height: auto; }
}

@media screen and (min-width: 600px) and (max-width: 1080px) and (orientation: landscape){
    ul.nav-right { margin: 1em; }
    .logo--wrap { width: 13%; margin: 1em 1em;}
    .sticky.is-stuck .logo--sticky { width: 32%; margin: 0em 1em; display: none }
    .sticky.is-stuck #menu-home .logo--sticky { width: 14%; margin: 0em 1em; display: initial }
    .records-wrap--home .slick-slide { width: 60%; }
    .search-exp .nav-right .search .s-i { width: 100px;}
}

@media screen and (max-width: 39.9375em) {
    .no-js .top-bar { display: none; }
    .top-bar .is-dropdown-submenu { border: 0; left: 0; position: relative; list-style-type: none; }
    .main-nav li.is-accordion-submenu-parent.active a:after { opacity: 0; }
    ul.is-accordion-submenu { list-style-type: none; }
    .main-nav .nav-right:hover a:hover:after { width: 60%; margin: 0 auto; right: 0; }
}

@media print, screen and (min-width: 40em) {
    .no-js .title-bar { display: none; }
}

[data-sticky] {
    width: 100%; top: 0 !important;
}

.sticky-container {
    z-index: 5;
}
