body {
	background: rgb(32, 27, 27) url(../i/freewall.jpg) no-repeat center fixed ;
	font-family: "Segoe UI", arial, tahoma;
	background-size: cover;
}

.text-bottom {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
}

.icontest:before {
	font-family: "Segoe UI Symbol";
	content: "U+E2A4";
	display: inline-block;

}

.padding {
	padding: 10px;
}

.size11 {
	line-height: 184px;
	text-align: center;
}

.size2-2 {
	line-height: 85px;
}
/***********************img-demo***************************/

.wallpaper {
	height: 100%;
	background: url(../images/i/wallpaper.png) no-repeat center;
	background-size: cover;
}

.map {
	height: 100%;
	background: url(../images/i/map.png) no-repeat center;
	background-size: 100% auto;
}

.freewall {
	height: 100%;
	background: url(../images/i/photo/12.jpg) no-repeat center;
	background-size: 100% auto;
}

.img-demo1 {
	background: url(../images/i/photo/1.jpg) no-repeat center;
}

.img-demo2 {
	background: url(../images/i/photo/2.jpg) no-repeat center;
}

.img-demo3 {
	background: url(../images/i/photo/3.jpg) no-repeat center;
}

.img-demo4 {
	background: url(../images/i/photo/4.jpg) no-repeat center;
}

.img-demo5 {
	background: url(../images/i/photo/5.jpg) no-repeat center;
}

.img-demo6 {
	background: url(../images/i/photo/6.jpg) no-repeat center;
}

.img-demo7 {
	background: url(../images/i/photo/21.jpg) no-repeat center;
}

.img-demo8 {
	background: url(../images/i/photo/22.jpg) no-repeat center;
}

.img-demo9 {
	background: url(../images/i/photo/37.jpg) no-repeat center;
}

.img-demo10 {
	background: url(../images/i/photo/38.jpg) no-repeat center;
}

.img-demo11 {
	background: url(../images/i/photo/30.jpg) no-repeat center;
}

.img-demo12 {
	background: url(../images/i/photo/32.jpg) no-repeat center;
}

[class^="img-demo"] {
	background-size: cover;
	width: 100%; height: 100%;
	display: block;
}

/**************************layout****************************/

[class^="layout-demo"] {
	background: url(../images/) no-repeat;
	background-size: 70px auto;
	width: 70px; height: 70px;
	display: block;
	margin: 35px auto;
}

.layout-demo1 {
	background-position: top center;
}

.layout-demo2 {
	background-position: center -70px;
}

.layout-demo3 {
	background-position: center -140px;
}

.layout-demo4 {
	background-position: center -210px;
}

.layout-demo5 {
	background-position: center -280px;
}

.layout-demo6 {
	background-position: center -350px;
}

.layout-demo7 {
	background-position: center -420px;
}

.layout-demo8 {
	background-position: center -490px;
}
