html {										font-family:Arial;font-size:12px;color:#000000;background:#c6c1ab url(images/bg.jpg) no-repeat top}
html {										scrollbar-face-color:#1b1b1e;scrollbar-shadow-color:#1b1b1e;
											scrollbar-highlight-color:#1b1b1e;scrollbar-3dlight-color:#777;
											scrollbar-darkshadow-color:#a59d8f;scrollbar-track-color:#a59d8f;scrollbar-arrow-color:#fff}
body {										margin:0px}
a { 										color: #1b60df; text-decoration:none; outline:none}
a:hover{									color: #fff; text-decoration:none}
img{										border:none}
input,select {								border-width:1px; padding:4px; font-size:11px}
input,select,textarea {						background-color:#f2f2f2; color:#777; font-size:11px; outline:none}
ul { 										list-style-type: none; margin:0; padding:0}
.blankcol {									height:20px; margin-bottom:20px; display:block; clear:both}
.subtitle {									font-size:18px; font-family:Verdana, Geneva, sans-serif; color:rgb(173, 59, 0)}


/* Page Size */
#pagewrap{									width:1000px;margin:auto;background-color:#fff}

/* Default Style */
#header {									width:100%;height:140px;background:url(images/headerbg.jpg)}
#logo{										float:left;width:500px;height:140px}
#page{ 										width:960px;min-height:700px;padding:15px 0px 10px 40px;background:url(images/pagetop.jpg) repeat-x top}
#mslider{									height:200px}

/* Content Style */
#content, #content2 {						min-height:900px;width:600px;float:left}
/*#content div {								clear:both}*/
#content h2, #content2 h2{					font-family:Times New Roman;color:#000000;border-bottom:1px dotted #b6ab7e;font-size:14px;padding:5px 0}
#banner {									margin-top:5px;padding-bottom:10px;border-bottom:1px dashed #777}
#banner img{								border:4px solid #777}
p{											text-align:justify}
.button {									width:120px;height:30px;display:block}
.button a{									display:block;color:#fff;font-weight:bold;padding:8px 20px 8px;background:url(images/button.jpg) no-repeat}
.button a:hover{							color:#514c40;background:url(images/button2.jpg) no-repeat}
a.button2 {									width:100px;display:block; background-color: rgb(2, 69, 251); border-radius: 5px; text-align:center; padding:8px 3px; font-weight:bold; color:#fff}
/*.button2 {									display:block;color:#fff}*/
a.button2:hover {							color:#fff; background-color:#00C}
.column {									width:600px; margin-top:30px}
.columnTitle{								font-size:18px; font-weight:bold; padding: 5px 5px; margin-bottom:10px}
.columnTitle2{								font-size:18px; font-weight:bold; padding: 0px 5px 5px 5px; margin-bottom:10px}
.columnDetails{								width:335px; float:left}
.columnDesc{								width:325px; padding: 5px 5px}
.columnPhoto{								width:265px; float:left; margin-bottom: 20px}
.columnBook{								width:255px; float:left; margin-left: 10px}
.bgPhoto{ 									background-color:#dfdfdf; width:248px; height:193px; position:relative; border-radius: 10px; box-shadow: 0px 2px 3px #B6B6B6}
.bgPhoto img, .bgPhoto object{		        left:0; right:0; top:0; bottom:0; margin:auto; position:absolute}
.clearbox{									height:30px}



/* Sidebar Style */
#sidebar{									float:right;padding:20px 30px 0 20px;width:280px;background:#ececec url(images/sidebarbg.jpg) no-repeat right top}
#sidebar h2 {								color:#5d583d;border:1px solid #c6be9b;background:#c8c2ac url(images/sideh2.jpg);margin:0;padding:10px;font-size:11px}
#sidebar ul {								list-style:none;display:block;margin-bottom:20px}
#sidebar ul li{ 							font-size:11px;font-weight:bold;margin:0px;border:1px solid #ccc;background:#fff url(images/sidebg.jpg);padding:1px}
#sidebar ul li:hover{						background:#8f7f5d}
#sidebar ul li a{							background:url(images/icon.png) no-repeat left}
#sidebar .box {							border:2px solid #c0baa0;}
#sidebarend {								height:15px;float:right;width:330px;background:#ececec url(images/sidebarend.jpg)}
html #sidebar ul li a {					display:block;padding:8px 8px 8px 15px}
html #sidebar ul li a:hover {				color:#fff}

/* Footer Style */
#footer{
	clear:both;
	height:40px;
	font-size:9px;
	color:#fff;
	font-weight:bold;
	background:#8a8a8a url(images/footerbg.jpg) repeat-x;
	text-align:center;
	padding-top:120px
}
#couter {
	margin-top: 5px;
}

/* Menu Style */
#menu {										clear:both;width:1000px;margin:auto;font-size:11px;height:39px;background:url(images/menubg.jpg) repeat-x}
ul.topnav li {								margin:0;padding-top:1px;position:relative;float:left;z-index:100}
ul.topnav li a{								color:#6e6a57;display:block;padding:12px 30px 12px 30px;border-left:1px solid #cac4a2;text-decoration:none}
ul.topnav li a:hover {						color:#fff;background:#bbb596;cursor:pointer}
ul.topnav li ul.subnav {					list-style:none;position:absolute;left:0;top:38px;width:200px;border:1px solid #bbb596;
											background:#dad3af;margin:0;padding:0;display:none;float:left; z-index:100}
ul.topnav li ul.subnav li{					margin:0px; padding:0px;border-bottom:1px solid #bbb596;
											clear: both;width:100%}
ul.topnav li ul.subnav li:hover{			background:#bbb596}
.subhover {									color:#000;background:#bbb596}
.subhover a{								color:#6e6a57}
html ul.topnav li ul.subnav li a {			color:#6e6a57;text-align:right;border-left:0;font-size:10px;padding:8px;padding-right:25px;background:url(images/arrow.gif) no-repeat 0px}
html ul.topnav li ul.subnav li a:hover {	color:#fff;background:url(images/arrow2.gif) no-repeat 0px}

/* Image Slideshow */
#slideshow {							    position:relative;height:240px;border:0px}
#slideshow img {						    position:absolute;top:0;left:0;z-index:8;opacity:0.0}
#slideshow img.active {						z-index:10;opacity:1.0}
#slideshow img.last-active {			   	z-index:9}

#flashcontent{								border:2px solid #c0baa0;}
#myreel{									border:2px solid #c0baa0; margin-top:10px}
.paginate{									width: 330px;margin-top:5px;font:bold 14px Arial;text-align:center;}
#split {									height:10px; background:url(images/devider_side.png) no-repeat center;margin-bottom:10px; clear:both}
.dlink a:hover
{
	color: #6494EC;
}
.pagenavi a:hover { 						color:#8f7f5d; text-decoration:none}

/* Photo Lightbox */
.imgf {
	background: url(images/shadow.png) no-repeat bottom right;
	margin: -5px 10px 20px 17px;
}
.fame .imgf img {
	display: block;
	position: relative;
	background-color: #26262b;
	border: 1px solid #000;
	margin: -10px 10px 10px -10px;
	padding: 3px;
}
.fame, .fame2 {
	padding-top: 10px;
	clear: both;
	/*border-bottom: 2px dotted #c0bab2*/
}
.fame div {
	width: 200px;
	padding: 0px;
	margin-bottom: 10px;
	float: left;
	text-align: center;
}
.fame2 div {
	width: 300px;
	padding: 0px;
	margin-bottom: 15px;
	float: left;
	text-align: center;
}
.fame div h3 {
	padding: 3px;
	margin-top: 120px;
	font-size: 11px;
}
.fame2 div h3 {
	padding: 3px;
	margin-top: 120px;
	font-size: 12px;
}
.fame .imgf, .fame2 .imgf {
	margin-bottom: 0px;
}
.fame2 .imgf img {
	display: block;
	position: relative;
	background-color: #26262b;
	border: 1px solid #000;
	margin: -10px 10px 10px -10px;
	padding: 3px;	
}
.fame2 .imgf img:hover {
	display: block;
	position: relative;
	background-color: #0FF;
	border: 2px solid :#0FF;
	margin: -10px 10px 10px -10px;
	padding: 3px;	
}


/*  Slide shows  */
.slide-show {
	background-color:#dfdfdf;
	position:relative;
	border-radius: 10px;
	box-shadow: 0px 2px 3px #B6B6B6;
	margin-bottom:20px;
	padding: 15px 53px 1px;
}
.slide-show ul {
	list-style: none;
	height:250px;
}
.slide-show #prev,
.slide-show #next {
	text-indent: -9999px;
	cursor: pointer;
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	background-position: 0 0;
	background-repeat: no-repeat;
	top: 228px;
}
.slide-show #prev {
	background-image: url(images/arrow-left.png);
	left: 15px;	
}
.slide-show #next {
	background-image: url(images/arrow-right.png);
	right: 15px;
}
.slide-show .slide-size {
	width: 500px;
	overflow: hidden;
}
.fluid_container { width: 600px}

/* button style */
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:10px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	width:220px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
	width:220px;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton a {
	color: #ffffff;
	text-decoration:none;
}
.myButton a:hover {
	color: #ffffff;
	text-decoration:none;
}
